body {
    background-color: #FFB4B0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    padding-top: 5rem;
}

.navbar {
    display:flex;
    padding-top: 0%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #582A38;
    border-bottom: 2px solid #000;
    margin-top: 0%;
    position: fixed;
    margin: 0%;
    width: 90%;
    top: 0%;
}

.navbar .logo h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar nav ul li {
    margin: 0;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
/* highlight active curren page */
.navbar nav ul li a.active {
    font-size: 1.2rem; 
    border-bottom: 2px solid #fff; 
    color: #FFB4B0; 
    padding-bottom: 5px; 
}

.sabkaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-bottom: 5%;
    padding-top: 5%;
}

.counter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 60%;
}

.volunteer-counter, .therapist-counter {
    text-align: center;
    margin-bottom: 20px;
}

.volunteer-counter h2, .therapist-counter h2 {
    color: #582A38;
    margin-bottom: 10px;
}

.counter {
    font-size: 3rem;
    color: #582A38;
}

.join {
    text-align: center;
    padding: 2rem;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
    margin-top: 1rem;
    margin-bottom: 20%;
}

.join h1 {
    font-size: 2.5rem;
    color: #582A38;
    margin-bottom: 1rem;
}

.join p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
}

.links {
    display: flex;
    justify-content: space-around;
}

.btn1, .btn2 {
    text-decoration: none;
    color: white;
    background-color: #582A38;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn1 {
    margin-right: 1%;
}

.btn2 {
    margin-left: 1%;
}

.btn1:hover, .btn2:hover {
    background-color: #DEB3AD;
    transform: scale(1.1);
}

.btn1:active, .btn2:active {
    transform: scale(0.9);
}

footer {
    background-color: #582A38;
    color: white;
    padding: 20px 50px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content .left-section h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-content .logo h1 {
    font-size: 24px;
    margin: 0;
}

.footer-content .right-section a {
    transition: transform 0.3s ease;
    margin-right: 70px;
}

.footer-content .right-section a:hover {
    transform: scale(1.1);
}

.footer-content .right-section img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 0px;
}
